#nav{
    background-color: #718fa4;
    padding: 10px

}

ul a{
    padding-left: 120px;
   
}
body nav ul{
    display:block;
    text-align:left;
    padding:3px,3px;
    text-decoration:line;
   
}
nav a{
    color: aliceblue;
}


body nav ul{
list-style-type:none ;
    margin:auto;
    padding:20px;
    overflow: hidden;
    background-color: #718fa4;
  }

 footer{
    padding: 30px;
    background-color: #718fa4;
 }



