#heading {
    list-style-type:none ;
    margin:auto;
    padding:20px;
    overflow: hidden;
    background-color: #7c98ac; }
  
a{
    float:inline-start;
    padding-left: 120px;}
  
a{
    display:block;
    color: rgb(255, 255, 255);
    text-align:center;
    padding:3px,3px;
    text-decoration:line;}
  

#heading {
background-color: #97b0c2;
padding: 20px;
}

ul a{
    padding-left: 120px;
   
}
 
  

 footer{
    padding: 30px;
    background-color: #718fa4;
 }



